@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #000;
    color: #eee;
    font-family: Poppins, sans-serif;
}
header{
    border-bottom: 1px solid #eee2;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    position: relative;
    z-index: 5;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 5px;
}
header div a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #eee;
    background-color: #636363;
    padding: 5px;
    border-radius: 10px;
    transition: color 0.6s ease-in-out;
}

@property --fill{
    syntax: '<percentage>';
    inherits: true;
    initial-value: 0%;
}

a::before,
a::after {
    position: absolute;
    z-index: -1;
    content: '';
    inset: -5px;
    border-radius: inherit;
    background: 
        conic-gradient(
            currentColor var(--fill),
            transparent var(--fill)
        );
    transition: --fill .6s 0.3s ease-in-out ;    
}
a:hover,
a:focus-visible,
a:focus-within {
    color: greenyellow;
    outline: 1px solid transparent;
}
a:hover,
a:hover::before,
a:hover::after {
    transition-delay: 0s;
}
/* Effect 1 */
.left:hover,
.left:focus-visible,
.left:focus-within{
    --fill: 100%
}
.left::before{
    transform: rotateY(180deg);
}
.left::after{
    display: none;
}
/* Effect 2 */
.right:hover,
.right:focus-visible,
.right:focus-within{
    --fill: 100%
}
.right::after{
    display: none;
}
.banner{
    background-image: url(/Image.jpg);
    width: 100%;
    height: 100vh;
    margin-top: -70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.banner::after{
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    background-image: url(/pngkey.com-leaves-png-2761805.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 150px;
    
}
.banner .content{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: "Gabarito", sans-serif;
}
.banner .content div:nth-child(1){
    font-size: 3em; /* 3em = 1.2rem x 3 */
}
.banner .content div:nth-child(2){
    font-size: 20em;
    font-weight: bold;
    color: #dae2db;
}
.banner .content div:nth-child(3){
    text-align: center;
}
.cta{
    border: 1px solid #eee7;
    border-radius: 10px;
    background-color: #636363;
    text-decoration: none;
    color: #eee;
    font-weight: 800;
    font-size: 1.8rem;
    padding: 10px 20px;
    letter-spacing: 5px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
.cta:hover,
.cta:focus-visible,
.cta:focus-within {
    color: greenyellow;
    outline: 1px solid transparent;
}
/* Effect 3 */
.cta:hover,
.cta:focus-visible,
.cta:focus-within{
    --fill: 50%
}
.cta::before{
    transform: rotateX(180deg);
}
.cta::after{
    transform: rotate(180deg);
}
@media screen and (max-width: 1200px){
    .banner .content{
        font-size: .9rem;
    }
}
@media screen and (max-width: 900px){
    .banner::after{
        background-size: 110px;
    }
}

@media screen and (max-width: 685px){
    .banner .content{
        font-size: .7rem;
    }
    .banner::after{
        background-size: 70px;
    }

}